# filepath: /Users/cody/dev/phdata/mle-project-challenge-2/k8s/model-pvc.yaml
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: housing-app-model-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 500Mi